body {
    margin: 0px;
    background-color:#61122f;
}

#header-nav{
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

#logo-img{
    background: url('logo.jpg') no-repeat;
    width: 200px;
    height: 200px;
    margin: 5px 5px 5px 0;
}
.navbar-brand {
    font-family: 'Lora',serif;
    color: #557c3e;
    font-size: 1.5cm;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
#menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    border: 2px solid #3f0c1f;
  }
  #menu-tile, #specials-tile, #map-tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
  }
  #menu-tile:hover, #specials-tile:hover, #map-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
  }
  #menu-tile {
    background: url('logo.jpg') no-repeat;
    background-position: center;
  }
  #specials-tile {
    background: url('logo.jpg') no-repeat;
    background-position: center;
  }
  #menu-tile span, #specials-tile span, #map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
  }
/**
@media (min-wid)
.navbar-toggle {
    position: relative;
    float: right;

}
/**
h2 {
    text-align: center;
    font-size: 50px;
    color: black;
    font-weight: bold;
}

/**div {
    background-color: lightsalmon;
}**/
/**
p {  
    float:left;
    margin-top: 200px;
    margin-right: 80px;
}
a {
    text-align: right;
    border: 4px solid black;
    background-color: palevioletred;
    height: 15px;
    width: 20px;

}
    

#p1{
    height: 400px;
    width: 400px;
    background-color: lightgrey;
    border: 4px solid black;
    font-size: 25px;
    font-weight: bold;
     
}  



#p2{
height: 400px;
width: 400px;
background-color: lightgrey;
border: 4px solid black;
font-size: 25px;
font-weight: bold;
}

#p3{
    height: 400px;
    width: 400px;
    background-color:lightgrey;
    border: 4px solid black;
    font-size: 25px;
    font-weight: bold;
}




.heada {
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    width: 1515px;
    height: 250px;
    border: black solid;
   /** background-color: blanchedalmond;**/
   /** background-color: #f6b319;

    

    

}/**
#logo-img {

    background: url('https://www.brandcrowd.com/gallery/brands/pictures/picture14113681086776.png') no-repeat;
    border-top: 0px;
    height: 250px;
    width: 270px;
    float: left;
    
}
 #logo-img,h1 {
     font-weight: bold;
     text-shadow: 4px;
     color: #557c3e;
     text-transform: uppercase;
    margin-bottom: 2px;
    
 }

 #logo-img,h5 {
     margin-top: 0px;
     font-size: medium;
     vertical-align: middle;
 }

 /**#logo-img,p1 {
     margin-top: 2px;
     font-weight: bold;
 }
 
     
/**#icon {
    background: url <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
  </svg>;


}**/
/**.heada,h3 {
    margin-top: 0px;
    float: left;
}**/
/**

#logo-img a:hover, #logo-img a:focus {
    text-decoration: none;
    background-color: blueviolet;

}


/**.bi bi-geo-alt-fill {
    float: left;

}**/
/**
.first {
    float: right;
    border: 0px;
    background-color: #f6b319;
    margin-top: 0px;
    border-top: 0px;
    color: #61122f;
    font-weight: bold;
    
}


    
    
    
    
